:root {
  --primary-green: #495E57;
  --darker-green: #3d4e48;
  --primary-yellow: #F4CE14;
  --darker-yellow: #e7c414;
}

body {
  overflow-x: hidden;
}

/*-------------------- HEADER ---------------------*/
header {
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
}
header menu {
  list-style: none;
  display: flex;
}
header .menu-close {
  max-height: 0px;
  transition: max-height ease-in-out 0.3s;
}
header .menu-open {
  max-height: 500px;
  transition: max-height ease-in-out 0.3s;
}
header img {
  min-height: 65px;
  margin: 25px 0px;
}
header #widescreen-nav {
  display: flex;
  align-items: center;
}
header #widescreen-nav a {
  text-decoration: none;
  color: var(--primary-green);
}
header #widescreen-nav li:not(li:last-child) {
  margin-right: 20px;
}
header #mobile-nav {
  display: none;
  overflow: hidden;
}

.ghost-button-primary {
  font-weight: bold;
  border: 2px solid var(--primary-green);
  border-radius: 1000px;
  padding: 5px 15px;
  text-decoration: none;
}
.ghost-button-primary:hover {
  background-color: var(--primary-green);
  color: white !important;
  transition: background-color 0.2s;
  cursor: pointer;
}

.button-yellow {
  font-weight: bold;
  background-color: var(--primary-yellow);
  color: black !important;
  border: 2px solid var(--primary-yellow);
  border-radius: 1000px;
  padding: 5px 15px;
  text-decoration: none;
}
.button-yellow:hover {
  background-color: var(--darker-yellow) !important;
  border: 2px solid var(--darker-yellow) !important;
  transition: background-color 0.2s;
  cursor: pointer;
}

.green-button {
  font-weight: bold;
  background-color: var(--primary-green);
  color: white !important;
  border: 2px solid var(--primary-green);
  border-radius: 1000px;
  padding: 5px 15px;
  text-decoration: none;
}
.green-button:hover {
  background-color: var(--darker-green) !important;
  border: 2px solid var(--darker-green) !important;
  transition: background-color 0.2s;
  cursor: pointer;
}

/*-------------------- MAIN ---------------------*/
main {
  padding: 0px 50px;
}

/*HOME HEADER*/
#home-header {
  background-color: var(--primary-green);
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#home-header section:not(#home-hero) {
  padding: 50px 35px 40px 35px;
  color: white;
  display: flex;
  justify-content: center;
}
#home-header section:not(#home-hero) div {
  max-width: 550px;
}
#home-header section:not(#home-hero) div h1 {
  font-size: 1.75em;
  margin-top: 0px;
  margin-bottom: 10px;
}
#home-header section:not(#home-hero) div h3 {
  margin-top: 0px;
  margin-bottom: 35px;
}
#home-header #home-hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*SPECIALS*/
#specials-section section:first-child {
  margin: 25px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#specials-section section:last-child {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#specials-section .specials-card {
  border-radius: 15px;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.25);
}
#specials-section .specials-card div:first-child {
  min-height: 200px;
  border-radius: 15px 15px 0px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#specials-section .specials-card .special-text {
  margin: 25px;
}
#specials-section .specials-card .special-text button {
  font-weight: bold;
  border: 2px solid var(--primary-green);
  border-radius: 1000px;
  padding: 5px 15px;
  text-decoration: none;
  background-color: transparent;
}
#specials-section .specials-card .special-text button:hover {
  background-color: var(--primary-green);
  color: white !important;
  transition: background-color 0.2s;
}
#specials-section .specials-card .special-price {
  color: var(--primary-yellow);
  font-weight: bold;
}
#specials-section .specials-card:not(.specials-card:last-child) {
  margin-right: 15px;
}

/*REVIEWS*/
#review-section {
  background-color: var(--primary-green);
  margin-top: 50px;
  padding: 25px 50px 50px 50px;
}
#review-section h2 {
  font-size: 1.25em;
  color: white;
  margin-bottom: 35px;
}

#review-bounding {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#review-bounding .customer-review {
  display: flex;
  padding: 25px;
  border-bottom: 1px solid #dadada;
}
#review-bounding .customer-review .customer-avatar {
  margin-right: 15px;
  max-height: 75px;
  border-radius: 1000px;
}
#review-bounding .customer-review:hover {
  cursor: pointer;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s;
  border-bottom: 1px solid transparent !important;
}
#review-bounding .customer-review:last-child {
  border-bottom: none !important;
}

#rev-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
  border-left: 1px solid #dadada;
}
#rev-panel p:last-child {
  max-width: 450px;
}

/*ABOUT*/
#about-section {
  margin: 75px 0px 50px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#about-section section:not(#owner-imgs) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about-section section:not(#owner-imgs) span {
  margin: auto;
  max-width: 500px;
  padding: 0px 15px;
}
#about-section section:not(#owner-imgs) span p {
  margin-bottom: 0px;
}
#about-section #owner-imgs {
  display: flex;
  justify-content: center;
}
#about-section #owner-imgs span {
  display: flex;
  margin-left: auto;
  margin-right: -57px;
}
#about-section #owner-imgs div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 335px;
  height: 400px;
}
#about-section #owner-imgs div:first-child {
  z-index: 2;
}
#about-section #owner-imgs div:last-child {
  z-index: 1;
  bottom: 25px;
  left: -82px;
}

/*-------------------- FOOTER ---------------------*/
#footer {
  background-color: var(--primary-green);
  color: white;
  padding-top: 25px;
}
#footer a {
  color: white;
}
#footer menu {
  list-style: none;
  padding: 0px;
}
#footer section {
  text-align: center;
  padding: 25px;
}
#footer section p {
  margin: 0px;
}
#footer span {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#social-icons img {
  max-height: 35px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

#footer-logo {
  max-height: 75px;
}

/*-------------------- RESERVE PAGE ---------------------*/
#reserve-hero {
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#reserve-main {
  margin-bottom: 100px;
}
#reserve-main h1 {
  margin-top: 50px;
}
#reserve-main form {
  border: 1px solid #e0e0e0;
  max-width: 100%;
  display: grid;
  padding: 50px;
  border-radius: 10px;
}
#reserve-main form .res-form-wrapper {
  display: grid;
  margin-bottom: 10px;
  max-width: 500px;
}
#reserve-main form input, #reserve-main form select {
  height: 35px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}
#reserve-main form label {
  font-size: 0.75em;
  color: #666;
}
#reserve-main form .green-button {
  margin-top: 25px;
  font-size: 1em;
  max-width: 500px;
}
#reserve-main .res-error-div {
  color: red;
  font-size: 0.75em;
}
#reserve-main .res-field-error {
  border: 1px solid red;
}

/*-------------------- CONFIRMED PAGE ---------------------*/
#confirmed-booking {
  background-color: #e0e0e0;
  padding: 100px 25px;
  text-align: center;
}
#confirmed-booking .confirmed-check {
  font-size: 3.5em;
}
#confirmed-booking p {
  margin-bottom: 0px;
}

/*-------------------- MEDIA QUERIES ---------------------*/
@media (max-width: 992px) {
  #home-header {
    grid-template-columns: 1fr 1fr;
  }
  #about-section {
    grid-template-columns: 1fr;
    margin-top: 50px;
  }
  #about-section #owner-imgs span {
    background: url("../public/costas-together.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 300px;
    min-width: 100%;
    margin-right: 0px;
  }
  #about-section #owner-imgs div {
    display: none;
  }
}
@media (min-width: 800px) {
  .hamburger-react {
    display: none;
  }
}
@media (max-width: 799px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }
  header img {
    margin: 25px 0px 15px 0px;
  }
  header #header-span {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  header #mobile-nav {
    display: block;
    min-width: calc(100% + 100px);
    text-align: center;
    background-color: #bababa;
  }
  header #mobile-nav menu {
    padding: 15px 0px;
    list-style: none;
    flex-direction: column;
  }
  header #mobile-nav menu li:not(li:first-child) {
    margin-top: 20px;
  }
  header #mobile-nav menu a {
    text-decoration: none;
    color: var(--primary-green);
  }
  header #widescreen-nav {
    display: none !important;
  }
  main {
    padding: 0px 25px;
  }
  #home-header {
    margin: auto -25px;
  }
  #review-bounding {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
  #rev-panel {
    border-left: none;
    border-bottom: 1px solid #dadada;
  }
  .customer-review {
    justify-content: center;
  }
  #review-section {
    margin: 50px -25px auto -15px;
  }
  #owner-imgs {
    margin: auto -25px auto -25px;
  }
}
@media (max-width: 767px) {
  #specials-section section:last-child {
    grid-template-columns: 1fr;
  }
  #specials-section section:last-child .specials-card:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 25px;
  }
  #footer span section:nth-child(1) {
    grid-column: 1/2;
  }
  #footer span section:nth-child(2) {
    grid-column: 2/4;
  }
  #footer span section:nth-child(3) {
    grid-column: 1/4;
  }
}
@media (max-width: 576px) {
  #home-header {
    background-color: var(--primary-green);
    display: flex;
    flex-direction: column-reverse;
  }
  #home-header #home-hero {
    min-height: 300px;
  }
  #home-header section:not(#home-hero) {
    padding: 35px 35px 20px 35px;
  }
  #home-header section:not(#home-hero) div {
    max-width: none;
  }
  main {
    padding: 0px 15px;
  }
  #review-section {
    padding: 25px 25px 50px 25px;
  }
  #owner-imgs {
    margin: auto -15px auto -15px;
  }
  #footer span section {
    padding: 15px;
  }
  #footer span section:nth-child(1) {
    grid-column: 1/4;
  }
  #footer span section:nth-child(2) {
    grid-column: 1/4;
  }
  #footer span section:nth-child(3) {
    grid-column: 1/4;
  }
}

/*# sourceMappingURL=App.css.map */
